<!doctype html>
<html lang="nl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fixed.css">
  <link rel="stylesheet" href="css/style-comcom.css">
  <title>Communicatie Company</title>
</head>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/move-top.js"></script>

<body data-spy="scroll" data-target="#navbarResponsive">

  <!-- Start Home Section -->
  <div id="home">
    <!--Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/comcom/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#welcome">Wie we zijn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#facilities">Wat we doen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <section id="slider">
    <!-- Start Image Slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(images/hero/h05.png);">

          <div class="carousel-caption text-center">
            <h1>CORPORATE IDENTITY</h1>
            <!--<h3>Werken aan resultaat dat mensen raakt</h3>-->
            <!--<a class="btn btn-outline-light btn-lg" href="#cource">Get Started</a>-->
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(images/hero/h04.png);">
          <div class="carousel-caption text-center">
            <h1>GRAPHIC DESIGN</h1>
            <!--          <h3>Brengt mensen in beweging</h3>-->
            <!--            <a class="btn btn-outline-light btn-lg" href="#cource">Get Started</a>-->
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(images/hero/h02.png);">
          <div class="carousel-caption text-center">
            <h1>Branding</h1>
            <!--                    <h3>Samen sterk voor uw merk</h3>-->
            <!--<a class="btn btn-outline-light btn-lg" href="#cource">Get Started</a>-->
          </div>
        </div>
      </div> <!-- End Carousel Inner -->
    </div>
  </section><!-- End Slider Section -->

  <!-- Welcome & Slogan -->
  <section id="welcome">
    <div class="row">
      <div class="welcome narrow text-center">
        <h3>Welkom bij Communicatie Company</h3>
        <p>Communicatie Company is een dynamisch communicatie- en ontwerpbureau. Wij tekenen voor concept en organisatie van vernieuwende projecten. Samenwerking met ons kenmerkt zich door persoonlijk contact en flexibel werken aan opdrachten en projecten. Ons specialisme: enthousiasmeren, verbinden en in beweging brengen. Jarenlange ervaring van <i>AnneMarie Bloemhoff</i> en <i>Jack van Raay</i> staat garant voor kwaliteit en professionaliteit.</p>
      </div>
    </div>

  </section>
  <!-- End Welcome & Slogan -->

  <!-- Star About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="about-left">
            <img src="images/comcom/lsb-pic.jpg" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-right">
            <h2>AnneMarie Bloemhoff</h2>
            <p>Is goed in het verwoorden van ervaringen, meningen of beleid in een helder verhaal, en in het bedenken van een aansprekende publicatie om dat verhaal wereldkundig te maken. <br><b>Stijl:</b> fris, bondig en ongedwongen.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-left">
            <img src="images/comcom/jvr-pic.jpg" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="about-right">
            <h2>Jack van Raay</h2>
            <p>Voor het ontwikkelen van een nieuw logo of een nieuwe huisstijl. Artdirector en fotograaf Jack van Raay ontwikkelt eigentijdse logo’s en huisstijlen voor diverse bedrijven en organisaties.</p>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- End About Section -->
  <!-- Start facilities Section -->
  <section id="facilities">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 sm-2 my-1 mx-0 px-0">
          <div class="card">
            <img src="images/comcom/Mooiwerk-01.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Meer dan tekst</h5>
              <p class="card-text">
                Communicatie Company verzorgt het ontwerp van uw publicaties. We bedenken pakkende teksten voor nieuwsbrieven, flyers, schrijven boeken en ontwikkelen websites.</p>

              <!--<a href="#" class="btn btn-primary">Bekijk ons aanbod</a>-->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-2 my-1 mx-0 px-0">
          <div class="card">
            <img src="images/comcom/mooiwerk-03.jpg" alt="branding picture" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Morele communicatie</h5>
              <p class="card-text">Wij organiseren inspirerende communicatieprojecten, die mensen in beweging brengen. Communicatie company werkt met veel succes voor opdrachtgevers als gemeenten, woningcorporaties, bedrijfsleven, gezondheidszorg en jeugdhulp. Wij tekenen voor concept en organisatie van vernieuwende projecten.</p>
              <!--              <img class="integrity" src="/images/week-of-integrity-klein.png" alt="">-->
              <!--                            <a href="#" class="btn btn-primary">Bekijk ons aanbod</a>-->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-2 my-1 mx-0 px-0">
          <div class="card">
            <img src="images/comcom/mooiwerk-03-2.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Graphic design</h5>
              <p class="card-text">Communicatie Company is gespecialiseerd in het ontwerpen van een nieuwe huisstijl of een nieuw logo. Wij ontwerpen flyers, nieuwsbrieven, tijdschriften, jaarverslagen en boeken.</p>
              <!--<a href="#" class="btn btn-primary">Bekijk ons aanbod</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End facilities Section -->
  <!-- Call To Action Section -->
  <div id="cta" class="cta">
    <div class="row">
      <div class="narrow text-center">
        <h3>Wilt u zich abonneren op de gratis nieuwsbrief?</h3>
        <p>De digitale nieuwsbrief is voor iedereen die te maken heeft met, of geïnteresseerd is in, communicatie, reflectie en moreel beraad. Profiteren van de praktische tips en handvatten. Lees alles over nieuwe ontwikkelingen, bijeenkomsten, ervaringsverhalen en nog veel meer...</p>
        <a class="btn btn-primary btn-sm" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#110;&#105;&#101;&#117;&#119;&#115;&#98;&#114;&#105;&#101;&#102;&#64;&#99;&#111;&#109;&#109;&#117;&#110;&#105;&#99;&#97;&#116;&#105;&#101;&#45;&#99;&#111;&#109;&#112;&#97;&#110;&#121;&#46;&#99;&#111;&#109;?subject=%20Aanvraag%20gratis%20digitale%20nieuwsbrief" title="stuur ons een e-mail...">Meld u aan voor de Gratis nieuwsbrief</a>
      </div>
    </div>
  </div> <!-- End Call To Action Section -->
  <!-- Start Contact Section -->
  <section id="contact">
    <div class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 contact-grid">
            <h5>Morele communicatie</h5>
            <p>Tijdens de bijeenkomsten maken de deelnemers op een uitnodigende manier kennis met begrippen als ‘moreel beraad’ en ‘waarden &amp; normen’. Gezamenlijk gaan de deelnemers na welke morele overwegingen er spelen in de casus. Ook wordt besproken welke waarden en normen belangrijk zijn, en hoe je als professional tot een besluit komt. Deelnemers worden zich bewust van hun eigen waarden en normen. Ook krijgen ze inzicht in waarden van anderen (collega’s, andere disciplines, cliënten), wat bijdraagt aan meer begrip voor keuzes van anderen.</p>
            <!--            <a href="#" class="more">Meer over ons <img src="images/arrow.png"></a>-->
          </div>
          <div class="col-md-4 contact-grid">
            <h5>Wie zijn we</h5>
            <p><b>AnneMarie Bloemhoff</b> en <b>Jack van Raay</b>, communicatiespecialisten &amp; ethici, initiatiefnemers en organisatoren van de Week van reflectie. Onze ambitie: aandacht voor ethiek en ruimte om in gesprek te gaan over ethische dilemma's in de dagelijkse praktijk.</p>
            <div class="cont">
              <div class="contact-leftgrid">
                <div class="img-grid1">
                  <img src="/images/comcom/lsb-pic.jpg" width="150">
                </div>
                <div class="img-grid2">
                  <img src="/images/comcom/jvr-pic.jpg" width="150">
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 contact-grid">
            <h5>Contact</h5>
            <p>Heeft u na het bekijken van deze website behoefte aan meer informatie? Neem dan gerust contact met ons op.</p>
            <h6>Communicatie Company</h6>
            <p>Postbus 508<br>
              1000 AM Amsterdam<br>
              T. +31 (0)561 47 51 67<br>
              M. +31 (0)64 125 60 04</p>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#99;&#111;&#109;&#109;&#117;&#110;&#105;&#99;&#97;&#116;&#105;&#101;&#45;&#99;&#111;&#109;&#112;&#97;&#110;&#121;&#46;&#99;&#111;&#109;?subject=%20Informatie%20aanvraag"> U kunt ons altijd mailen <img src="images/arrow.png"></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section  --->
  <script type="text/javascript">
    $(document).ready(function() {
      var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
      };
    });

  </script>
  <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  <!-- copyright section -->
  <section class="footer-section">
    <div class="container">
      <div class="footer-left">
        <p> Copyright &copy;2020 All rights Reserved | Design by<a href="https://communicatie-company.com" target="target_blank"> Communicatie Company</a></p>
      </div>
    </div>
  </section><!-- End Copyright Section -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>














<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>Hier komt de header</p>
  </br></br>
    <%= yield %>
    <br><br>
    <p>Dit wordt de plaats van de footer</p>
  </body>
</html>
